#bg{
    background: url('../../../assets/images/cocoa-beans.jpg'), rgba(0, 0, 0, 0.506);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
}