#png{
    transform: rotate(45deg);
}
#input::placeholder{
    font-size: 12px;
    color: green;
}
#bg{
    /* background-image: url('../../../assets/images/contact-bg.jpg'); */
    background: url('../../../assets/images/contact2.jpg'), rgba(5, 56, 1, 0.639);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}